.container {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0.5, 0.5, 0.5, 0.5);
    /* Add this line to add the shadow */
}

.profile-image {
    width: 100%;
    height: 100%;
}

typewriter-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.typewriter-text {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em;
    /* Adjust as needed */
    animation:
        typing 1s steps(40, end),
        blink-caret .75s step-end infinite;
    font-weight: bold;
    font-size: 2em;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: black;
    }
}

.header-link-text {
    color: black;
}

.header-link-text:hover {
    font-weight: bold;
}

.extended-background-section {
    background-color: rgba(0, 0, 0);
    /* Replace with your desired color */
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
}

.extended-background-section div {
    max-width: 800px;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    color: white;
    padding: 10px;
}

/* .extended-background-section h2 {
    font-family: "times new roman";
    font-weight: 300;
} */